/* using flexbox to handle layout */

:root {
    --prim: #005a9c;
    --sec: darkgoldenrod;
    --tert: #eaeae3;
    --font1: "Nerko One", cursive;
    --font2: "New Amsterdam", sans-serif;
}

* {box-sizing: border-box;}

/* tag names */

body {
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}

/* classes */

.box {
    display: flex;
    justify-content: space-between;
}

.colophon {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 94%;
    /* border: 1px solid darkgoldenrod; */
}

.form {
    /* padding-top: 15px; */
    text-align: right;

}

.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
}

.nav-link {
    color: var(--prim);
    text-decoration: none;
    transition: color .5s ease-in;
}

.nav-link:hover {
    color: var(--sec);
}

.row {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}
.search-label {
    display: none;
}

.section {
    padding: 20px 0;
}

.text {
    padding: 0 15px;
}

/* ids */

#block1, #block2 {
    padding: 0 15px;
    width: 45%;
    /* border: 1px solid green; */
}

#block5, #block6, #block7 {
    width: 30%;
    /* border: 1px solid dodgerblue; */
}

#blockText2, #figure1 {
    width: 45%;
    /* border: 1px solid orange; */
}

#figure2 {
    text-align: center;
}

#header {
    width: 100%;
    padding: 8px 0;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myName, #topNav, .form {
    margin: 0;
    width: 30%;
    /* border: 1px solid green; */
}

#myName {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60;
    color: violet;
}

#row1 {
    flex-direction: row-reverse;
}

#section3 .container {
    display: flex;
    justify-content: space-between ;
}